.cart {
  width: 600px;
  border: 1px solid red;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  height: 50vh;
}

h3 {
  width: 100%;
  background-color: orange;
  font-size: 45px;
  margin: 0;
}

.total {
  position: absolute;
  bottom: 0;
  background-color: orange;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 35px;
}

/* Adjust overflow to auto */
.cart table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
  overflow-y: auto; /* Add scrollbar for vertical overflow */
}

/* Style for table header */
.cart th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Style for table data */
.cart td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.button-increase-decrease {
  border: none;
}

.button-increase-decrease::after {
  outline: none;
  border: none;
}

/* Style for odd table rows */
.cart tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Style for even table rows */
.cart tr:nth-child(even) {
  background-color: #ffffff;
}
